<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKTZtK2M80xQF7TLOB_cm4a6WEFcgyVCg</string>
	<key>GCM_SENDER_ID</key>
	<string>632566371320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.salonsymphony</string>
	<key>PROJECT_ID</key>
	<string>salon-symphony-app</string>
	<key>STORAGE_BUCKET</key>
	<string>salon-symphony-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632566371320:ios:146484a3f11d7556ac7c0d</string>
</dict>
</plist>